---
layout: default
title: Videos
heading: My Videos
background: /img/home-bg.png
---
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            {% assign sortedProjects = site.projects | reverse %}
            {% for project in sortedProjects %}
            <div class="col-lg-4">
                <div class="project">
					<a href="{{ project.url }}">
						{% if project.youtubeId == null %}
							<img src="{{ project.thumbnail }}" />
						{% else %}
							<img src="https://img.youtube.com/vi/{{ project.youtubeId }}/sddefault.jpg" />
						{% endif %}
					</a>
				</div>	
            </div>
            {% endfor %}
            <!--<div class="col-lg-4 embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item youtube" data-embed="lwxE6zSCdQk"><div class="play-button"></div></div>
            </div>-->
        </div>
        <!--<div class="row">
            <div class="col-lg-4 embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item youtube" data-embed="75zcsPOMxRE"><div class="play-button"></div></div>
            </div>
            <div class="col-lg-4 embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item youtube" data-embed="CWE-etdBWAM"><div class="play-button"></div></div>
            </div>
            <div class="col-lg-4 embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item youtube" data-embed="Unsg2eRMIMo"><div class="play-button"></div></div>
            </div>
        </div>-->
    </div>
</div>